# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\EDesktop\s-java-hw-mvn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
